html{
    scroll-behavior: smooth;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
    width: 100;
    height: 100vh;
    overflow-x: hidden;
}

.pacifico-regular {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}

/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 1000 */

.afacad-flux-navbarText {
  font-family: "Afacad Flux", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}

.merienda-HeadingFont {
  font-family: "Merienda", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    background: white;
    position: fixed;
    width: 100%;
    max-width: 100vw;
    z-index: 10000;
    /* margin-top: 10px */
}

#logo{
    margin: 30px;
    /* width: 50px;
    height: 50px; */
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
    text-decoration: none;
    color: #FF6500;
    font-family: "Pacifico", cursive;
}

/* #logo:hover{
    color: black;
} */

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 600px;
}

.nav-links a{
    text-decoration: none;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: "Afacad Flux", sans-serif;
    font-size: 20px;
    cursor: pointer;
    position: relative;
    padding: relative;
    padding-top: 8px;
    padding-bottom: 8px;
    color: #1E3E62;
}

nav ul li{
    list-style-type: none;
}

.nav-links a:after{
    bottom: 0;
    content: "";
    height: 3px;
    left: 50%;
    position: absolute;
    background-color: #FF6500;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.nav-links a:hover::after{
    width: 100%;
    left: 0;
}

.LoginAndSignup{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
}

#getStarted{
    text-decoration: none;
    font-family: "Afacad Flux", sans-serif;
    color: #1E3E62;
    letter-spacing: 2px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 15px;
    padding: 10px 12px 8px; 
    display: inline-block;
    margin: 0px 30px 2px 30px;
    border: 2px solid transparent;
    border: #1E3E62;
}

#getStarted:hover{
    background-color: #FF6500;
}

.LoginAndSignupSub{
    /* padding: 10px 20px ; */
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#login, #Signup{
    text-decoration: none;
    font-size: 20px;
    letter-spacing: 2px;
    font-family: "Afacad Flux", sans-serif;
    color: #1E3E62;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 18px;
    padding:8px; 
    display: inline-block;
    border: 2px solid transparent;
    align-items: center;
    justify-content: center;
}

#login:hover{
    background-color: #FF6500;
    cursor: pointer;
}
#Signup:hover{
    background-color: #FF6500;
}

.burger{
    display: none;
    cursor: pointer;
    margin: 20px;
}

.burger div {
    width: 25px;
    height: 3px;
    margin: 5px;
    background-color: #FF6500;
    transition: all 0.3s ease;
}

h2{
    color: #1E3E62;
    /* font-size: 9rem; */
    text-align: center;
    font-family: "Merienda", cursive;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

#revolutioniseh2{
    font-size: 7rem;
    color: #FF6500;
}

h1{
    color: #0B192C;
    font-size: 5rem;
    text-align: center;
    font-family: "Afacad Flux", sans-serif;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

#andSign, 
#comaSign{
    color: #FF6500;
}

.sentence{
    display: flex;
    justify-content: space-around;
    font-size: 5.5rem;
}

/* #Exchange{
    position: block;
}

#Exchange::after{
    content: "";
    position: absolute;
    width: 100%;
    border-top: solid 10px #FF6500;
    left: 0%;
    bottom: 0px;
    border-radius: 90%;
    height: 20px;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
}

#Exchange:hover::after{
    width: 0%;
    left: 50%;
} */

#top{
    width: 100%;
    min-height: 100vh;
}

#CH {
    font-family: "Pacifico", cursive;
    color: #FF6500;
    font-weight: 100;
    position: block;  /* Required for the ::after positioning */
}

#top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw; /* Ensure full viewport width without overflow */
    max-width: 100%; /* Prevent horizontal scroll */
    /* min-height: 100vh; Ensure the section takes up the full viewport height */
    padding: 0px;
    margin: 0 auto; /* Center the content */
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

/* Trade */

.Trade {
    display: grid;
    place-items: center;
    padding-block: 5rem;
    background-image: linear-gradient(75deg,#1E3E62, #000000, #0B192C);
    font-family: "Afacad Flux", sans-serif;
    position: relative;
}

.cardContainer {
    display: grid;
    row-gap: 3.5rem;
}

.cardArticle {
    position: relative;
    overflow: hidden; /* Added to handle overflow on hover */
}

.cardImage {
    width: 348px;
    border-radius: 1.5rem;
}

.cardData {
    width: 280px;
    background-color: white;
    padding: 1.5rem 2rem;
    box-shadow: 0 8px 24px hsla(0, 0%, 0%, .15);
    border-radius: 1rem;
    position: absolute;
    bottom: -9rem;
    left: 0;
    right: 0;
    margin-inline: auto;
    opacity: 0;
    transition: opacity 1s 1s;
    text-align: center;
}

.cardDescription {
    display: block;
    font-size: 1.2rem;
    margin-bottom: .25rem;
    align-items: center;
    justify-content: center;
}

.cardTitle {
    font-size: 1.5rem;
    font-weight: bold;
    color: #FF6500;
    font-family: "Afacad Flux", sans-serif;
}

.cardButton {
    text-decoration: none;
    font-size: var(--small-font-size);
    font-weight: 500;
    color: var(--first-color);
}

.cardButton:hover {
    text-decoration: underline;
}

/* Animation on hover */
.cardArticle:hover .cardData {
    animation: show-data 1s forwards;
    opacity: 1;
    transition: opacity .3s;
}

.cardArticle:hover {
    animation: remove-overflow 2s forwards;
}

.cardArticle:not(:hover) {
    animation: show-overflow 2s forwards;
}

.cardArticle:not(:hover) .cardData {
    animation: remove-data 1s forwards;
}

/* Card Animations */
@keyframes show-data {
    50% {
        transform: translateY(-10rem);
    }
    100% {
        transform: translateY(-7rem);
    }
}

@keyframes remove-overflow {
    to {
        overflow: initial;
    }
}

@keyframes remove-data {
    0% {
        transform: translateY(-7rem);
    }
    50% {
        transform: translateY(-10rem);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes show-overflow {
    0% {
        overflow: initial;
        pointer-events: none;
    }
    50% {
        overflow: hidden;
    }
}

/* ============== BreakPoints ============== */
/* For small devices */
@media screen and (max-width: 340px) {
    .Trade {
        margin-inline: 1rem;
    }

    .cardData {
        width: 250px;
        padding: 1rem;
    }
}

/* For medium devices */
@media screen and (min-width: 768px) {
    .cardContainer {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1.5rem;
    }
}

/* For large devices */
@media screen and (min-width: 1120px) {
    .Trade {
        height: 100vh;
    }

    .cardContainer {
        grid-template-columns: repeat(3, 1fr);
    }
    .cardImage {
        width: 348px;
    }
    .cardData {
        width: 316px;
        padding-inline: 2.5rem;
    }
}

/* Collection Wrapper Animation */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

/* body {
  background-color: #030712;
} */

.wrapper {
  margin-top: 5rem;
  width: 90%;
  /* padding: 20px; */
  max-width: 1536px;
  margin-inline: auto;
  height: 100px;
  position: relative;
  overflow: hidden;
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0)
  );
}

@keyframes scrollLeft {
  to {
    left: -200px;
  }
}

@keyframes scrollRight {
  to {
    right: -200px;
  }
}

.itemLeft,
.itemRight {
    width: 200px;
    height: 100px;
    /* background-color: #e11d48; */
    border-radius: 6px;
    position: absolute;
    animation-timing-function: linear;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FF6500;
    font-family: "Pacifico", cursive;
    font-size: 2rem;
}

.wrapper img{
    width: 100px;
    max-height: 100px;
}

.itemLeft {
  left: max(calc(200px * 8), 100%);
  animation-name: scrollLeft;
}

.itemRight {
  right: max(calc(200px * 8), calc(100% + 200px));
  animation-name: scrollRight;
}

.item1 {
    animation-delay: calc(30s / 8 * (8 - 1) * -1);
}

.item2 {
    animation-delay: calc(30s / 8 * (8 - 2) * -1);
}

.item3 {
    animation-delay: calc(30s / 8 * (8 - 3) * -1);
}

.item4 {
    animation-delay: calc(30s / 8 * (8 - 4) * -1);
}

.item5 {
    animation-delay: calc(30s / 8 * (8 - 5) * -1);
}

.item6 {
    animation-delay: calc(30s / 8 * (8 - 6) * -1);
}

.item7 {
    animation-delay: calc(30s / 8 * (8 - 7) * -1);
}

.item8 {
    animation-delay: calc(30s / 8 * (8 - 8) * -1);
}

/* About US */
#AboutUs{
    /* background-color: #FF6500; */
    margin: 5rem;
    /* border-radius: 30px; */
    text-align:start;
    border: 5px solid #FF6500;
    border-left: none;
    border-right: none;
    padding: 10px;
    font-size: 25px;
    font-family: "Afacad Flux", sans-serif;
    color: #0B192C;
}

#aboutC{
    font-family: "Pacifico", cursive;
    color: #FF6500;
}

/* Tutorials */
#Tutorials {
    font-family: "Afacad Flux", sans-serif;
    padding-top: 20px;
    text-decoration: underline;
    text-decoration-color: #FF6500;
}

/* Footer */
#footer{
    color: #FF6500;
    padding: 20px;
    font-size: 3rem;
}

#footer_links{
    background-image: linear-gradient(75deg,#1E3E62, #000000, #0B192C);
}

/* Login Form */
 /* Login Form */
.container {
    display: none;
    visibility: hidden;
    opacity: 0;
    width: 30rem;
    position: fixed;  
    top: 50%;  
    left: 50%;  
    transform: translate(-50%, -50%);  
    text-align: center; 
    background: rgba(255, 255, 255, 0.19);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.1px);
    -webkit-backdrop-filter: blur(8.1px);
    border: 1px solid rgba(255, 255, 255, 0.28);
    transition: visibility 0s, opacity 0.3s ease-in-out;
}

.container.active {
    visibility: visible;
    opacity: 1;
    display: block;
}
  
.login {
    height: 30em;
    background-color: transparent; 
    padding: 20px;  
    border-radius: 10px;  
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);  
}  
    
.login h2 {  
    font-size: 3rem;
    color: #FF6500;  
    margin-bottom: 20px;
    font-family: "Afacad Flux", sans-serif;
}  
    
.form-group { 
    font-size: 1.2rem;
    font-family: "Afacad Flux", sans-serif;
    display: flex; 
    margin: 10px 30px;
    margin-bottom: 20px;  
}

.form-group input[type="text"], .form-group input[type="password"] {  
    width: 100%;  
    padding: 15px; 
    font-family: "Afacad Flux", sans-serif;
    font-size: 20px;
    border: none;  
    border-radius: 5rem;  
    background-color: transparent;  
    padding-right: 1px;
    color: #1E3E62;
    outline: none;
    font-weight: 500;
    border-bottom: 2px solid;
    border-radius: 0;
}  

.form-group.checkbox-group { 
    display: flex; 
    align-items: center;
    justify-content: space-between;
    margin: 10px 30px 20px;
}

.form-group input[type="checkbox"] {  
    margin-right: 10px;  
}  
    
button[type="submit"] {  
    background-color: #FF6500;  
    color: #fff;
    font-family: "Afacad Flux", sans-serif;
    font-size: 1.5rem;  
    padding: 10px 20%;  
    border: none;  
    border-radius: 5rem;  
    cursor: pointer; 
}

button[type="submit"]:hover {  
    background-color: #e65500;  
}  

p {  
    color: #1E3E62;  
    margin-top: 20px;
    font-family: "Afacad Flux", sans-serif;
    font-size: 1.3rem; 
}  

::placeholder {
    font-family: "Afacad Flux", sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #1E3E62;
}

.forget {
    margin-left: 6rem;
    text-decoration: none;
    color: #FF6500;
}

.forget:hover {
    text-decoration: underline;
    color: #0B192C;
}